.erreur{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__code{
        @include margin-padding  (all, 10.5625rem 0 4.125rem 0, null, null);
        font-weight: 700;
        font-size: 18rem;
        color: $color-primary;
        @include tablet-only{
            font-size: 6rem;
        }
    }
    &__para{
        color: $color-primary;
        font-size: 2.25rem;
        @include tablet-only{
            font-size: 1.125rem;
            width: 16.25rem;
            text-align: center;
        }
    }
    &__link{
        @include margin-padding  (all, 11.25rem 0 10rem 0, null, null);
        color: $color-primary;
        text-decoration: underline;
        font-size: 1.125rem;
    }
}