.logement {
    &__header {
        display: flex;
        justify-content: space-between;
        @include mobile-only{
            flex-direction: column;
        }
    }

    &__infos {
        &__titre {
            color: $colour-primary;
            font-size: 36px;
            font-weight: 500;
            @include mobile-only{
            font-size: 18px;
            }
        }

        &__loc {
            color: $colour-primary;
            font-size: 18px;
            font-weight: 500;
            @include mobile-only{
                font-size: 14px;
                }
        }

        &__tags {
            display: flex;
            gap: 10px;
            @include margin-padding (top, 20px, null, null);
            @include mobile-only{
                @include margin-padding (top, 10px, null, null);
            }
            span {
                background-color: $colour-primary;
                @include margin-padding (null, null, all, 2px 40px);
                border-radius: 10px;
                color: white;
                line-height: 1.5;
                font-size: 14px;
                @include mobile-only{
                    font-size: 10px;
                    @include margin-padding (null, null, all, 2px 20px);
                }
            }
        }

    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        @include mobile-only{
            flex-direction: row-reverse;
            @include margin-padding (top,16px,null,null);
            align-items: center;
        }

        &__host {
            display: flex;
            align-items: center;
            gap: 10px;

            &__para {
                text-align: right;
                color: $colour-primary;
                font-size: 18px;
                width: 93px;
                @include mobile-only{
                    font-size: 12px;
                }
            }

            &__img {
                width: 50px;
                border-radius: 50%;
                @include mobile-only{
                    width: 32px;
                }
            }
        }

        &__star {
            display: flex;
            gap: 20px;
            @include mobile-only{
                height: 13px;
                gap: 13px;
            }
        }
    }

    &__collapse {
        display: flex;
        justify-content: space-between;
        @include tablet-only{
            flex-direction: column;
        }
        .collapse {
            width: 582px;
            @include margin-padding(all, 31px 0, null, null);
            @include tablet-only{
                @include margin-padding(all, 16px 0, null, null);
                width: 100%;
            }
        }
    }
}