.logement {
    &__header {
        display: flex;
        justify-content: space-between;

        @include mobile-only {
            flex-direction: column;
        }
    }

    &__infos {
        &__titre {
            color: $color-primary;
            font-size: 2.25rem;

            @include mobile-only {
                font-size: 1.125rem;
            }
        }

        &__loc {
            color: $color-primary;
            font-size: 1.125rem;

            @include mobile-only {
                font-size: .875rem;
            }
        }

        &__tags {
            display: flex;
            gap: .625rem;
            @include margin-padding (top, 1.25rem, null, null);

            @include mobile-only {
                @include margin-padding (top, .625rem, null, null);
                flex-wrap: wrap;
            }

            span {
                background-color: $color-primary;
                @include margin-padding (null, null, all, .125rem 2.5rem);
                border-radius: .625rem;
                color: white;
                line-height: 1.5;
                font-size: .875rem;

                @include mobile-only {
                    font-size: .625rem;
                    min-width: fit-content;
                    @include margin-padding (null, null, all, .125rem 1.25rem);
                }
            }
        }

    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @include mobile-only {
            flex-direction: row-reverse;
            @include margin-padding (top, 1rem, null, null);
            align-items: center;
        }

        &__host {
            display: flex;
            align-items: center;
            gap: .625rem;

            &__para {
                text-align: right;
                color: $color-primary;
                font-size: 1.125rem;
                width: 5.8125rem;

                @include mobile-only {
                    font-size: .75rem;
                }
            }

            &__img {
                width: 3.125rem;
                border-radius: 50%;

                @include mobile-only {
                    width: 2rem;
                }
            }
        }

        &__star {
            display: flex;
            gap: 1.25rem;

            @include mobile-only {
                height: 1.125rem;
                gap: .8125rem;
            }
        }
    }

    &__collapse {
        display: flex;
        justify-content: space-between;

        @include tablet-only {
            flex-direction: column;
        }

        .collapse {
            width: 36.375rem;
            display: flex;
            flex-direction: column;
            @include margin-padding(all, 1.9375rem 0, null, null);

            @include tablet-only {
                @include margin-padding(all, 1rem 0, null, null);
                width: 100%;
            }
        }
    }
}