@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@keyframes rotateicon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu {
  0% {
    transform: translatey(1.25rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: auto;
  padding: 0 1.25rem;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 77.5rem;
  height: 100%;
  margin: 2.5rem auto 0 auto;
}
@media screen and (max-width: 992px) {
  body {
    margin-top: 1.25rem;
  }
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

* {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 13rem;
  height: 4.25rem;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: 9rem;
    height: 3rem;
  }
}
.header ul {
  display: flex;
  width: 25%;
  justify-content: space-between;
  font-size: 1.5rem;
}
@media screen and (max-width: 992px) {
  .header ul {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .header ul {
    font-size: 0.75rem;
  }
}
.header__nav {
  list-style: none;
}
.header__nav__link {
  color: #FF6060;
}
@media screen and (max-width: 768px) {
  .header__nav__link {
    text-transform: uppercase;
  }
}
.header__nav__link__active {
  text-decoration: underline;
}

.footer {
  position: sticky;
  top: 100%;
  height: 13rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 1.5rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 4rem;
}
@media screen and (max-width: 992px) {
  .banner {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    justify-content: flex-start;
  }
}
.banner__title {
  position: absolute;
  z-index: 1;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .banner__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 1.5rem;
    width: 15rem;
    padding-left: 1rem;
  }
}
.banner__img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1.56rem;
  filter: brightness(70%);
}
@media screen and (max-width: 768px) {
  .banner__img {
    height: 6.9375rem;
  }
}

.collapse {
  margin: 1.9375rem auto;
  width: 63.9375rem;
  opacity: 0;
  animation: menu 1s forwards;
}
@media screen and (max-width: 992px) {
  .collapse {
    width: 100%;
  }
}
.collapse:nth-child(2) {
  animation-delay: 0.6s;
}
.collapse:nth-child(3) {
  animation-delay: 0.9s;
}
.collapse:nth-child(4) {
  animation-delay: 1.2s;
}
.collapse__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  padding: 0 0.625rem 0 1.125rem;
  background-color: #FF6060;
}
.collapse__title {
  color: white;
  font-size: 1.125rem;
  padding: 0.8125rem 0;
}
@media screen and (max-width: 768px) {
  .collapse__title {
    font-size: 0.8125rem;
  }
}
.collapse__texte, .collapse__list {
  color: #FF6060;
  margin-top: -1.125rem;
  padding: 2.25rem 1.6875rem 1.1875rem 1.125rem;
  background-color: #F6F6F6;
  position: relative;
  z-index: -1;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  list-style: none;
  font-weight: 400;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .collapse__texte, .collapse__list {
    font-size: 0.75rem;
  }
}
.collapse__texte li, .collapse__list li {
  font-weight: 400;
}
.collapse__chevron {
  transition: 0.5s;
}
.collapse .rotated {
  transform: rotate(180deg);
}

.slideshow {
  height: 25.9375rem;
  width: 100%;
  margin: 1.25rem auto 1.875rem auto;
  position: relative;
  border-radius: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .slideshow {
    height: 15.9375rem;
    margin: 1.25rem auto 0.9375rem auto;
  }
}
.slideshow__pictures {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.slideshow__pictures__img {
  flex-shrink: 0;
  object-fit: cover;
  width: 100%;
  border-radius: 1.5625rem;
}
.slideshow__control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 50%;
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.slideshow__control__arrow {
  cursor: pointer;
  padding: 0 1.4375rem;
}
@media screen and (max-width: 768px) {
  .slideshow__control__arrow {
    height: 1.5rem;
    padding: 0;
  }
}
.slideshow__index {
  position: absolute;
  text-align: center;
  bottom: 1.5625rem;
  width: 100%;
  font-size: 1.125rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .slideshow__index {
    display: none;
  }
}

.slide-in {
  animation: fadein 0.5s;
  opacity: 1;
}

.slide-out {
  animation: fadeout 0.5s;
  opacity: 0;
}

.listCard {
  background-color: #f6f6f6;
  border-radius: 1.56rem;
  margin: 2.68rem 0;
  padding: 3.5rem 3.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 3.12rem;
}
.listCard:after {
  content: "";
  width: 30%;
}
@media screen and (max-width: 768px) {
  .listCard {
    background-color: transparent;
    margin: 1.25rem 0;
    padding: 0;
    gap: 1.25rem;
  }
  .listCard:after {
    display: none;
  }
}

.card__link {
  width: 30%;
  height: 21.25rem;
}
@media screen and (max-width: 992px) {
  .card__link {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .card__link {
    width: 100%;
    height: 15.9375rem;
  }
}
.card__link:hover {
  box-shadow: 0.1875rem 0.1875rem 0 0.125rem #FF6060;
  border-radius: 0.6rem;
  transition: 0.3s ease-in-out;
}
.card__link:hover .card__figcaption {
  background: linear-gradient(180deg, rgba(255, 96, 96, 0.6572829816) 3%, rgba(2, 0, 36, 0.604061693) 88%);
}
.card__figure {
  height: 100%;
  width: 100%;
  position: relative;
}
.card__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}
.card__figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 0.625rem;
}
.card__title {
  margin-top: -3rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  font-size: 1.125rem;
  color: white;
  width: 75%;
}

.erreur {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.erreur__code {
  margin: 10.5625rem 0 4.125rem 0;
  font-weight: 700;
  font-size: 18rem;
  color: #FF6060;
}
@media screen and (max-width: 992px) {
  .erreur__code {
    font-size: 6rem;
  }
}
.erreur__para {
  color: #FF6060;
  font-size: 2.25rem;
}
@media screen and (max-width: 992px) {
  .erreur__para {
    font-size: 1.125rem;
    width: 16.25rem;
    text-align: center;
  }
}
.erreur__link {
  margin: 11.25rem 0 10rem 0;
  color: #FF6060;
  text-decoration: underline;
  font-size: 1.125rem;
}

.logement__header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logement__header {
    flex-direction: column;
  }
}
.logement__infos__titre {
  color: #FF6060;
  font-size: 2.25rem;
}
@media screen and (max-width: 768px) {
  .logement__infos__titre {
    font-size: 1.125rem;
  }
}
.logement__infos__loc {
  color: #FF6060;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .logement__infos__loc {
    font-size: 0.875rem;
  }
}
.logement__infos__tags {
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
@media screen and (max-width: 768px) {
  .logement__infos__tags {
    margin-top: 0.625rem;
  }
}
.logement__infos__tags span {
  background-color: #FF6060;
  padding: 0.125rem 2.5rem;
  border-radius: 0.625rem;
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .logement__infos__tags span {
    font-size: 0.625rem;
    padding: 0.125rem 1.25rem;
  }
}
.logement__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .logement__section {
    flex-direction: row-reverse;
    margin-top: 1rem;
    align-items: center;
  }
}
.logement__section__host {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.logement__section__host__para {
  text-align: right;
  color: #FF6060;
  font-size: 1.125rem;
  width: 5.8125rem;
}
@media screen and (max-width: 768px) {
  .logement__section__host__para {
    font-size: 0.75rem;
  }
}
.logement__section__host__img {
  width: 3.125rem;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .logement__section__host__img {
    width: 2rem;
  }
}
.logement__section__star {
  display: flex;
  gap: 1.25rem;
}
@media screen and (max-width: 768px) {
  .logement__section__star {
    height: 0.8125rem;
    gap: 0.8125rem;
  }
}
.logement__collapse {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .logement__collapse {
    flex-direction: column;
  }
}
.logement__collapse .collapse {
  width: 36.375rem;
  display: flex;
  flex-direction: column;
  margin: 1.9375rem 0;
}
@media screen and (max-width: 992px) {
  .logement__collapse .collapse {
    margin: 1rem 0;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */