.collapse {
    @include margin-padding(all, 31px auto, null, null);
    width: 1023px;

    @include tablet-only {
        width: 100%;
    }

    opacity: 0;
    animation: menu 1s forwards;

    &:nth-child(2) {
        @include delay(2 * $delaydebut);
    }

    &:nth-child(3) {
        @include delay(3 * $delaydebut);
    }

    &:nth-child(4) {
        @include delay(4 * $delaydebut);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        height: 47px;
        @include margin-padding(null, null, all, 0 30px 0 18px);
        background-color: $colour-primary;
    }

    &__title {
        color: white;
        font-size: 24px;

        @include mobile-only {
            font-size: 13px;
        }
    }

    &__texte,
    &__list {
        color: $colour-primary;
        @include margin-padding(top, -18px, all, 36px 27px 19px 18px);
        background-color: #F6F6F6;
        position: relative;
        z-index: -1;
        border-radius: 10px;
        font-size: 24px;
        list-style: none;

        @include mobile-only {
            font-size: 12px;
        }
    }

    &__chevron {
        @include transition (0.5s);

        @include mobile-only {
            width: 13px;
        }
    }

    .rotated {
        transform: rotate(180deg);
    }
}