.collapse {
    @include margin-padding(all, 1.9375rem auto, null, null);
    width: 63.9375rem;

    @include tablet-only {
        width: 100%;
    }

    opacity: 0;
    animation: menu 1s forwards;

    &:nth-child(2) {
        @include delay(2 * $delaydebut);
    }

    &:nth-child(3) {
        @include delay(3 * $delaydebut);
    }

    &:nth-child(4) {
        @include delay(4 * $delaydebut);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: .625rem;
        height: 2.9375rem;
        @include margin-padding(null, null, all, 0 1.875rem 0 1.125rem);
        background-color: $colour-primary;
        @include mobile-only{
            height: 1.875rem;
        }
    }

    &__title {
        color: white;
        font-size: 1.5rem;

        @include mobile-only {
            font-size: .8125rem;
        }
    }

    &__texte,
    &__list {
        color: $colour-primary;
        @include margin-padding(top, -1.125rem, all, 2.25rem 1.6875rem 1.1875rem 1.125rem);
        background-color: #F6F6F6;
        position: relative;
        z-index: -1;
        border-radius: .625rem;
        font-size: 1.5rem;
        list-style: none;

        @include mobile-only {
            font-size: .75rem;
        }
    }

    &__chevron {
        @include transition (0.5s);

        @include mobile-only {
            width: .8125rem;
        }
    }

    .rotated {
        transform: rotate(180deg);
    }
}