.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 13rem;
        height: 4.25rem;
        @include mobile-only{
            width: 9rem;
            height: 3rem;
        }
    }

    & ul {
        display: flex;
        width: 25%;
        justify-content: space-between;
        font-size: 24px;
        @include tablet-only{
            width: 40%;
            
        }
        @include mobile-only{
            font-size: 12px;
        }
    }

    &__nav {
        color: $colour-primary;
        list-style: none;

        &__link {
            color: $colour-primary;

            &__active {
                text-decoration: underline;
            }
        }
    }
}