.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 13rem;
        height: 4.25rem;
        @include mobile-only{
            width: 9rem;
            height: 3rem;
        }
    }

    & ul {
        display: flex;
        width: 25%;
        justify-content: space-between;
        font-size: 1.5rem;
        @include tablet-only{
            width: 40%;
            
        }
        @include mobile-only{
            font-size: .75rem;
        }
    }

    &__nav {
        list-style: none;

        &__link {
            color: $colour-primary;
            @include mobile-only{
            text-transform: uppercase;
            }

            &__active {
                text-decoration: underline;
            }
        }
    }
}