.slideshow {
    height: 25.9375rem;
    width: 100%;
    @include margin-padding (all, 1.25rem auto 1.875rem auto, null, null);
    position: relative;
    border-radius: 1.5625rem;
    @include mobile-only{
        height: 15.9375rem;
        @include margin-padding (all, 1.25rem auto .9375rem auto, null, null);

    }

    &__pictures {
        display: flex;
        height: 100%;
        overflow: hidden;

        &__img {
            flex-shrink: 0;
            object-fit: cover;
            width: 100%;
            border-radius: 1.5625rem;
        }
    }


    &__control {
        align-items: center;
        display: flex;
        justify-content: space-between;
        left: 50%;
        padding: 0 .625rem;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;

        &__arrow {
            cursor: pointer;
            @include margin-padding(null, null, all, 0 1.4375rem);
            @include mobile-only{
                height: 1.5rem;
                @include margin-padding(null, null, all, 0);

            }
        }
    }

    &__index {
        position: absolute;
        text-align: center;
        bottom: 1.5625rem;
        width: 100%;
        font-size: 1.125rem;
        color: white;
        @include mobile-only{
display: none;
        }
    }

}

.slide-in {
    animation: fadein 0.5s;
    opacity: 1;
}

.slide-out {
    animation: fadeout 0.5s;
    opacity: 0;
}

