* {
    box-sizing: border-box;
    @include margin-padding(all, 0, all, 0);
}

html{
    @include margin-padding(all, auto, all, 0 1.25rem);
    height: 100%;
}

body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 77.5rem;
    @include margin-padding(all, 2.5rem auto 0 auto,null,null);
    @include tablet-only{
        @include margin-padding(top, 1.25rem,null,null);

    }
}

a {
    text-decoration: none;
}